$black: #0D0D13;
$dark-grey: #272D3A;
$light-grey: #C4C5C9;
$white: #EBEFF4;
$purple: #9E559E;
$orange: #FC8744;
$blue: #3E92CC;

$primary-accent: $blue;
$secondary-accent: $purple;
$tertiary-accent: $orange;
$font-white: $white;
$background-light: $white;
$background-dark: $dark-grey;
$overlay-color: darken($dark-grey, 30%);