$black: #0D0D13;
$dark-grey: #272D3A;
$light-grey: #C4C5C9;
$white: #EBEFF4;
$off-white: #E2E1E0;
$purple: #9E559E;
$orange: #FC8744;
$blue: #3E92CC;

$primary-accent: $blue;
$secondary-accent: $purple;
$tertiary-accent: $orange;
$font-white: $white;
$font-black: #2C2C2C;
$background-light: $off-white;
$background-dark: $dark-grey;
$overlay-color: darken($dark-grey, 30%);

$content-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$content-box-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);