@import "../../styles/palette.scss";

.ui.vertical.segment.segmentSection {
  padding: 8em 0em;
}
h3.ui.header.sectionHeader {
  font-size: 2em;
}
h4.ui.header.schoolHeader {
  font-size: 1.5em;
}

h5.ui.header.schoolProgram {
  font-size: 1.35em;
}
.homeTextBody {
  font-size: 1.3em;
  span {
    font-size: 1em;
    display: block;
    text-transform: uppercase;
    font-style: italic;
  }
}
